 .formpass-container {
  width: 350px;
  height: 400px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  margin:10% auto;
  }
  
  .formpass-container button:active {
    scale: 0.95;
  }
  
  .formpass-container .logo-container {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
  }
  
  .formpass-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .formpass-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .formpass-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formpass-container .form-group input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
  }
  
  .formpass-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .formpass-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .formpass-container .form-submit-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin:12px 0;
  }
  
  .formpass-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .formpass-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .formpass-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .formpass-container .signup-link .link {
    font-weight: 400;
  }
  
  .formpass-container .link:hover {
    text-decoration: underline;
  }
  
  